confirm-price{
    .item-center{
        & > img{
            border-radius: 50%;
        }
    }
    .orange-title{
        color: map-get($colors, subTitle) !important;
    }
    h2.fluid{
        color: #fff;
    }
    .level{
        width:100%;
        height: auto;
        max-width: 48px !important;
    }
}