exam-list{
    .blue{
        color:#80DEEA !important;
    }
    ion-grid.border-bottom{
        border-bottom: solid 1px;padding-bottom:0.3em;
        & ion-avatar{
            position:absolute;left: 50%;transform: translate(-50%);text-align:center;
            & > img{
                width:100%;height:auto;max-width:48px;
            }
        }
    }
}